<style>
  footer {
        width: 100%;
        border-top: 1px solid #ccc;
    }
  
    .col-2 {
      color: #000;
      
    }
</style>
  <div class="container">
    <footer class="py-5">
      <div class="row">

          <div class="col-2">
            <h5>Pages</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/home/{{student_number}}" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="/favourites/{{student_number}}" class="nav-link p-0 text-body-secondary">Saved</a></li>
              <li class="nav-item mb-2"><a href="/disclaimer/{{student_number}}" class="nav-link p-0 text-body-secondary">Disclaimer</a></li>
            </ul>
        </div>

          <div class="col-2">
          </div>

          <div class="col-4">
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                  <br><br>
                    <a class="link-body-emphasis" href="https://github.com/Roosvansambeek/thesis_ma">
                        <i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i>
                    </a>
                </li>
            </ul>
            
           
          </div>

          <div class="col-4">
            <h5>Copyright statement</h5>
            <p>Copyright 2023 &copy; This application is a prototype course catalog developed for students at Tilburg University, as part of a master's thesis by Roos van Sambeek, for the Marketing Analytics program. All rights reserved.</p>
          </div>

      
       
    </footer>
</div>